# Appwrite Configuration
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your-appwrite-project-id
EXPO_PUBLIC_APPWRITE_PLATFORM=com.fadedapp

# EAS Configuration
EAS_PROJECT_ID=your-eas-project-id

# Environment
NODE_ENV=development
